<header>
    <div id="container">
        <div id="icon">
            <img src="/images/travel_logo.jpg" alt="a travel logo" />
        </div>
        <div id="title">TRAVEL BLOG</div>
    </div>
</header>